.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.yeet {
  /* display: flex; */
  /* justify-content: row; */
  /* align-content: flex-start;   */
  max-width: 80%;
  margin: 2px 2px;
  border: 1px solid #949494;
  border-radius: 5px;
}

.yeet > p {

}

.colored {
  background-color: #60c4b6
}

.rip {
  margin-top: 50px;
  height: 700px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.rip #content {
  height: 100%;
  width: 100%;
}

.kmap {
  /* margin-left: 50px; */
}